@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.site-container .title span:nth-child(1):after {
  color: #ff8e72;
  opacity: 0;
}

.site-container:hover .title span:nth-child(1):after {
  content: "o";
  opacity: 100%;
}

.title span:nth-child(1):before {
  color: #ff8e72;
  opacity: 0;
}

.site-container:hover .title span:nth-child(1):before {
  content: "i";
  opacity: 100%;
}

.site-container:hover .title span:nth-child(2) {
  display: none;
}

.site-container .portfolio-intro {
  display: none;
}

.site-container:hover .domain-intro {
  display: none;
}

.site-container:hover .portfolio-intro {
  display: block;
}

.title span:nth-child(2) {
  color: #ff8e72;
}