
.main {
    display: flex;
    flex-direction: column;
}


.main ul {
    padding-left: 1rem;
    list-style: square;
}

.main ol {
    padding-left: 1rem;
    list-style-type: decimal;
}

.main li::marker {
    color: black;
}

.main code {
    color: black;
    font-family: monospace, monospace;
    background: #f0f0f0;
    padding: 2px;
    border: 1px solid black;
}
