
.main {
    display: flex;
    flex-direction: column;
}


.main ul {
    padding-left: 1rem;
    list-style: square;
}

.main ol {
    padding-left: 1rem;
    list-style-type: decimal;
}

.main li::marker {
    color: #fb8500;
}

.main code {
    color: #fb8500;
    font-family: monospace, monospace;
    background: none;
    padding: 2px;
}
